.list-group-item:hover, .list-group-item:focus {
    background: rgba(158, 158, 158, 0.2);
}

.avatar {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
}
.list-group-item {

     border: none
}


.list-group-item span{

    margin-left: 4rem
}




