<div layout="row" layout-align="center center">
    <md-card flex="50" flex-md="100" flex-sm="100" flex-xs="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" layout="row" layout-align="center center">
                    <a class="md-accent" ng-href="{{repository.html_url}}" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>{{repository.name}}</a>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column">
                <div flex>
                    <p class="md-accent">{{repository.description}}</p>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div flex="30" flex-xs="100">
                    <p> Open issues <i class="fa fa-exclamation" aria-hidden="true"></i>
                        {{repository.open_issues_count}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p> forks <i class="fa fa-code-fork" aria-hidden="true"></i>
                        {{repository.forks}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p>size {{repository.size}}</p>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div flex="30" flex-xs="100">
                    <p>stargazers<i class="fa fa-star" aria-hidden="true"></i> {{repository.stargazers_count}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p> watchers <i class="fa fa-star" aria-hidden="true"></i>{{repository.watchers_count}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p> Language <i class="fa fa-language" aria-hidden="true"></i> {{repository.language}}</p>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div flex="30" flex-xs="100">
                    <p>branch {{repository.default_branch}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p>network <i class="fa fa-sitemap" aria-hidden="true"></i> {{repository.network_count}}</p>
                </div>
                <div flex="30" flex-xs="100">
                    <p>subscribers <i class="fa fa-eye" aria-hidden="true"></i> {{repository.subscribers_count}}</p>
                </div>
            </div>


        </md-card-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center">
            <md-button flex="30" ng-click="showIssues =! showIssues" flex-xs="100" class="md-raised md-primary">Show
                Issues
            </md-button>
            <md-button flex="30" ng-click="showCharts =! showCharts" flex-xs="100" class="md-raised md-primary">Chart
            </md-button>
        </md-card-actions>
    </md-card>
</div>
<div ng-show="showIssues && issues.items.length > 0" layout="row" layout-align="center center">

    <md-input-container flex="50" flex-md="100" flex-sm="100" flex-xs="100" class="md-block">
        <label>Limit number of issues to show (default is 3 )</label>
        <input type="number" ng-model="limit">
    </md-input-container>

</div>

<div ng-if="showIssues" layout="row" layout-align="center center">

    <md-list ng-show="issues.items.length > 0" flex="50" flex-md="100" flex-sm="100" flex-xs="100">
        <md-subheader class="md-no-sticky"> {{getCount("open")}} Open issues </md-subheader>
        <md-list-item ng-repeat="issue in issues.items  | filter: openIssues |  limitTo : limit track by $index"
                      class="md-3-line"
                      ng-href="{{issue.html_url}}">
            <img ng-src="{{issue.user.avatar_url}}" class="md-avatar"/>
            <div class="md-list-item-text" layout="column">
                <h3>User:{{ issue.user.login }}</h3>
                <h4>Title:{{ issue.title }}</h4>
                <span>State:{{issue.state}}</span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <p ng-if="issues.items.length == 0"> This repository has no issues</p>

</div>

<div ng-if="showCharts" layout="row" layout-align="center center">
    <md-content flex="50" flex-md="100" flex-sm="100" flex-xs="100">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride">
        </canvas>

    </md-content>


</div>