<div layout="row" layout-align="center center">
    <md-card flex="50" flex-md="100" flex-sm="100" flex-xs="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" layout="row" layout-align="center center">Find a user on Github</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <a class="md-accent">Enter a Github username below and click the button to display user info.
            </a>
            <md-input-container layout-gt-lg class="md-block">
                <label> Username </label>
                <input ng-model="userName">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-disabled="!(userName)" ng-click="Search()">Search</md-button>
            <md-button class="md-accent" ng-click="clearUser()">Clear</md-button>
        </md-card-actions>
    </md-card>
</div>
<div ng-show="userNotFound" layout="row" layout-align="center center">
    <md-content flex="50" flex-md="100" flex-sm="100" flex-xs="100" layout-padding>
        <h2>We couldn’t find any user matching <span ng-bind="userName | limitTo:15 "></span>
            <span ng-if="userName.length > 15">...</span>
        </h2>
    </md-content>
</div>
<div layout="row" layout-align="center center">

  <md-progress-circular ng-show="loading" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="loaded" layout="row" layout-align="center center">

    <md-card flex="50" flex-md="100" flex-sm="100" flex-xs="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" layout="row" layout-align="center center">{{user.name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <md-list flex flex-md="100" flex-sm="100" flex-xs="100">
                <md-list-item class="md-3-line">
                    <img ng-src="{{user.avatar_url}}" class="md-avatar"/>
                    <div class="md-list-item-text" layout="column">
                        <a ng-href="{{user.html_url}}" target="_blank">{{ user.login }}</a>
                        <span>Followers: {{user.followers}} - Following: {{user.following}} -  Repos: {{user.public_repos}}</span>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>

            <div layout-xs="column" layout="row">
                <div flex>
                    <p ng-hide="reposFound">No repos!</p>
                    <div ng-show="reposFound">
                        <p><strong>Repos by the user:</strong></p>
                        <section layout="row" layout-xs="column" layout-wrap>
                            <md-button flex="30" ng-repeat="repo in repos" flex-xs="100" ng-href="{{repo.html_url}}"
                                       class="md-raised md-primary">{{repo.name}}
                            </md-button>
                        </section>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
